<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/help.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>

    <div class="container">
        <div>
            <i class="fas fa-hands-helping" id="hand"> ...</i>
            {{>header}}
        </div>
        <p>These are the services available for you!</p>
        {{>footer}}
    </div>
    <script src="/js/help.js"></script>
    <script src="https://kit.fontawesome.com/8967985270.js" crossorigin="anonymous"></script>
</body>
</html>