<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Weather</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="container">
            <div>
                <i class="fas fa-cloud-sun"> ...</i>
                
                {{>header}}
            </div>
            
            <div class="smallContainer">
                <p id="instruction">Use this site to check your current weather!!
                </p>

                <P>experimenting lines over here</P>

                <form action="">
                    <input placeholder="Location">
                    <button type="submit">Search</button>
                </form> 

                <p id="firstPara"></p>
                <p id="secondPara"></p>
            </div>

            {{>footer}}
        </div>
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/8967985270.js" crossorigin="anonymous"></script>
        
</body>
</html>

